<%- model_class = Dropreason -%>
<div class="page-header">
  <h1>PHP Drop Out Reasons</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
	   <th>Hidden (Y/N)</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @dropreasons.each do |dropreason| %>
      <tr>
        <td><%= link_to dropreason.id, dropreason_path(dropreason) %></td>
        <td><%= dropreason.name %></td>
		<td><%= dropreason.ishidden.to_s.convert_to_yn %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_dropreason_path(dropreason), :class => 'btn btn-default btn-xs' %>
		  <% if dropreason.ishidden==true %>
		  	<%= link_to "Unhide", unhide_dropreason_path(dropreason.id), :class => 'btn btn-danger btn-xs'  %>
		  <% else %>
		  	<%= link_to "Hide", hide_dropreason_path(dropreason.id), :class => 'btn btn-danger btn-xs'  %>
		  <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_dropreason_path,
            :class => 'btn btn-primary' %>
