<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Phpstepdown" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->

    <%= javascript_include_tag "application" %>
  </head>
  <body>



    <div class="container">
	  <div class="row"  style="margin-top:25px;">
	  	<div class="col-xs-12" style="text-align:center;">
	  		<%= image_tag("springstonelogo2.png") %>
	  	</div>
	  </div>
	  <div class="row-fluid">
	  	<div class="col-xs-12" style="text-align:center;">
	  		<h3>Springstone PHP Step Down Reporting</h3>
	  	</div>
	  </div>
	  
	  <div class="row" style="margin-bottom:25px;">
		<div class="col-xs-12" style="text-align: center;">
			<div class="btn-group">
				<a class="btn btn-default" href="/discharges">Patient List</a>

				  <div class="btn-group">
				    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				      Reports
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu">
					  <li><a href="#">MOR Data</a></li>
				      <li><a href="#">PHP Drop Out Reasons By Facility</li>
					  <li><a href="#">Full Data Dump</a></li>
				    </ul>
				  </div>

				<% if session[:usertype]=="admin" %>
								
				  <div class="btn-group">
				    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				      Admin Tools
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu">
				      <li><%= link_to "Edit Facility List", :controller=>"locations", :action=>"index" %></li>
				      <li><%= link_to "Edit Drop Out Reason List", :controller=>"dropreasons", :action=>"index" %></li>
				    </ul>
				  </div>				
				
				<% end %>
				<% if session[:accesscode] %>
					<% if session[:usertype]=="admin" %>
						<a class="btn btn-success" href="/sessions/destroy">Logout: Administator </a>
					<% else %>
						<a class="btn btn-success" href="/sessions/destroy">Logout</a>
					<% end %>
				<% else %>
					<a class="btn btn-success" href="/sessions/gate">Login</a>				
				<% end %>
			</div>
		</div>
	  </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-lg-12">
          <%= bootstrap_flash %><br>
          <%= yield %>
        </div>
      </div><!--/row-->
	  <% if Rails.env.development? %>
	  	<div class="row">
	  		<div class="col-xs-12">
	  			<%= debug(params) %>
	  		</div>
	  	</div>
	  <% end %>

    </div> <!-- /container -->

  </body>
</html>
